.advantage-section {
    background: rgb(248, 248, 248);
    text-align: center;

    .advantage-title {
        color: #000000;
        font-family: 'Quando', sans-serif;
        text-transform: uppercase;
    }

    .advantage-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        .custom-div{
            .advantage-name {
                color: #000000;
                font-family: 'Quando', sans-serif;
                text-transform: uppercase;
            }
        }  
    }
}