.contact-section {
    display: flex;

    .contact-descr-container {

        .contact-title {
            color: #000000;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }

        .contact-descr {
            color: #858585;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
        }
    }

    .contact-form-container {
        display: flex;
        flex-direction: column;
        
        .contact-form {
            label {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: bold;
                color: #000000;               
            }
            input, textarea {
                font-family: 'Quando', serif;
                background: #EAEAEA;
                border: none;
            }

            .form-row{
                display: flex;

                .btn__submit {
                    background: #FFEDD2;
                    border: none;
                    color: #000000;
                    font-weight: bold;
                    font-family: 'Roboto', sans-serif;
                    text-transform: uppercase;
                    cursor: pointer;
                    transition: all .5s ease-in;
                }

                .btn__submit:hover {
                    background: #dfa958;
                    transform: scale(1.1);
                    transition: all .5s ease-out;
                }
            }

            .row-topic {
                display: block;
            }
            .row-message {
                display: block;
            }
        }
    }
}