.intro-bg {
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../assets/images/main-page/intro-bg.jpg');
    opacity: 0.9;
    text-align: center;

    .intro-title {
        color: #ffffff;
        font-family: 'Quando', serif;
    }

    .btn__get-started {
        background: #E5CEAB;
        border-radius: 50px;
        border: none;
        color: #000000;
        font-family: 'Quando', serif;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .5s ease-out;
    }

    .btn__get-started:hover {
        transition: all .5s ease-in-out;
        transform: scale(1.1);
        background: #ffffff;
    }
}