.about-page-section{
    background: #000000;
    display: flex;

    .about-block-text {

        .about-title {
            color: #ffffff;
            font-family: 'Quando', serif;
        }

        .about-text {
            text-align: justify;
            color: #ffffff;
            font-family: 'Quando', serif;
        }
    }
}
