.quote-section {
    background-color: #000000;
    text-align: center;

    .quote-wrapper {
        margin: 0 auto;

        .quote {
            font-family: 'Roboto', sans-serif;
            font-style: italic;
            color: #ffffff;
        }
    }
}