.ourteam-section {
    width: 100%;
    text-align: center;

    .ourteam-title {
        color: #000000;
        font-family: 'Quando', sans-serif;
        text-transform: uppercase;
    }

    .slider{
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
    
        .slider-items {
            display: flex;
            flex-direction: row;
            align-content: center;
            align-items: center;
            justify-content: center;
    
                .arrow {
                    color: #707070;
                    cursor: pointer;
                }

                .slider-text {

                    .img-container{
                        position: relative;
                        .mate-photo {
                            border-radius: 50px;
                        }

                        .overlay {
                            position: absolute; 
                            bottom: 0; 
                            background: rgb(0, 0, 0);
                            background: rgba(0, 0, 0, 0.5); /* Black see-through */
                            color: #f1f1f1; 
                            transition: .5s ease;
                            opacity:0;
                            color: white;
                            text-align: center;
                            border-radius: 0 0 50px 50px;
                        }    
                    }

                    .img-container:hover .overlay {
                        opacity: 1;
                        z-index: 5;
                      
                    }

                    .mate-name{
                        color: #000000;
                        font-family: 'Quando', sans-serif;
                        text-transform: capitalize;
                    }

                    .slide {
                        display: none;
                        text-align: center;
                    }
                      
                    .active {
                        display: block;
                    }
                }
          }
    }
}

