.hardwg-section {
    background: #000000;
    display: flex;

    .hard-block-text {
        .hardwg-title {
            color: #ffffff;
            font-family: 'Quando', serif;
        }

        .hardwg-text {
            text-align: justify;
            color: #ffffff;
            font-family: 'Quando', serif;
        }
    }
}