.about-intro-section {
    background: #E5CEAB;
    text-align: center;

    .intro-title {
        color: #000000;
        font-family: 'Quando', serif;
    }

    .intro-text {
        color: #F88013;
        font-family: 'Quando', serif;
    }
}