.about-section {
    background: #FFEDD2;

    .about-text-container {
        display: flex;
        width: inherit;
        
        .about-image {
            filter: brightness(50%);
        }

        .about-text-wrapper {
            .about-title {
                color: #000000;
                font-family: 'Roboto', sans-serif;;
                font-style: normal;
                font-weight: bold;
            }

            .about-text{
                color: #858585;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                text-align: justify;
            }

            .btn__read-more {
                background: #FF8D8D;
                border: none;
                color: #000000;
                font-family: 'Roboto',sans-serif;;
                font-style: normal;
                font-weight: bold;
                text-transform: uppercase;   
                cursor: pointer;
                transition: all .5s ease-out;
            }

            .btn__read-more:hover{
                background: #fc5050;
                transform: scale(1.1);
                transition: all .5s ease-in;
            }
        }
    }
}
