.book-form-page {
    background: #E5CEAB;
    
    .divine {
        background: #E5CEAB;    
    }

    .book-form {
        background-color: #ffffff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        
        .form-header {

            .form-title {
                color: #000000;
                font-family: 'Quando', sans-serif;
            }
            
            .title-description {
                color: #828282;
                font-family: 'Quando', sans-serif;
            }

            .divine-line {
                color: #E1E1E1;
                border: 1px solid #E1E1E1;
            }
        }

        .form-input-section {

            .form-custom-row {
                
                .form-custom-column {

                    .form-label {
                        color: #000000;
                        font-family: 'Roboto', sans-serif;
                        font-weight: bold;
                    }

                    .form-input {          
                        border: none;      
                        background: #EAEAEA;
                        font-family: 'Quando', serif;
                    }
                }
            }
        }

        .button-panel {

            .btn {
                border: none;
                color: #000000;
                font-family: 'Roboto', sans-serif;
                text-align: justify;
                border-radius: 50px;
                letter-spacing: 0.1em;
                text-align: center;
                cursor: pointer;
            }

            .btn__cancel {
                background-color: #E2E2E2;
                border: 1px solid  #E2E2E2;
                transition: all .5s ease-in-out;
            }

            .btn__cancel:hover {
                background-color: transparent;
                transition: all .5s ease-in-out;
            }
            
            .btn__submit {
                background-color: #9BE479;
                border: 1px solid  #9BE479;
                transition: all .5s ease-in-out;
            }

            .btn__submit:hover {
                background-color: transparent;
                transition: all .5s ease-in-out;
            }
        }
    }
}